################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/DalamudPluginsD17.slnx/FileContentIndex/b1992315-b12b-4efd-a92d-a870392737b7.vsidx
/.vs/DalamudPluginsD17.slnx/FileContentIndex/0036f8dd-9c28-4a14-83a8-8aed38964a97.vsidx
/.vs/DalamudPluginsD17.slnx/FileContentIndex/fa04ec0f-a0ff-4c4b-bf7a-e55fae4098f3.vsidx
/.vs/DalamudPluginsD17.slnx/FileContentIndex/3cf7e391-5354-46b1-aa39-9fc62e16be6c.vsidx
/.vs/slnx.sqlite-journal
/.vs/DalamudPluginsD17.slnx/FileContentIndex/6942dc6c-8a84-4ecb-b953-313c359d200a.vsidx
/.vs/DalamudPluginsD17.slnx/FileContentIndex/e862b16b-c1aa-4159-ac4d-805af03d9565.vsidx
/.vs/DalamudPluginsD17/v18/workspaceFileList.bin
/.vs/DalamudPluginsD17.slnx/FileContentIndex
